# KNN_iris (Лучкин ИУ6-51Б, Павловский ИУ6-51Б, Левашова ИУ6-53Б)

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

## импортируем и выводим датасет

In [ ]:
default_df = pd.read_csv('iris.csv')
df = pd.read_csv('iris.csv')
df['distance']=np.nan
df

     sepal.length  sepal.width  petal.length  petal.width    variety  distance
0             5.1          3.5           1.4          0.2     Setosa       NaN
1             4.9          3.0           1.4          0.2     Setosa       NaN
2             4.7          3.2           1.3          0.2     Setosa       NaN
3             4.6          3.1           1.5          0.2     Setosa       NaN
4             5.0          3.6           1.4          0.2     Setosa       NaN
..            ...          ...           ...          ...        ...       ...
145           6.7          3.0           5.2          2.3  Virginica       NaN
146           6.3          2.5           5.0          1.9  Virginica       NaN
147           6.5          3.0           5.2          2.0  Virginica       NaN
148           6.2          3.4           5.4          2.3  Virginica       NaN
149           5.9          3.0           5.1          1.8  Virginica       NaN

[150 rows x 6 columns]

## пишем функцию вычисления растояния

In [ ]:
def dist (new_row,row):
    new_sl=new_row['sepal.length']
    new_sw=new_row['sepal.width']
    new_pl=new_row['petal.length']
    new_pw=new_row['petal.width']
    sl=row['sepal.length']
    sw=row['sepal.width']
    pl=row['petal.length']
    pw=row['petal.width']    
    return math.sqrt((new_sl - sl)**2 + (new_sw - sw)**2 + (new_pl - pl)**2 + (new_pw - pw)**2)

## пользователь вводит новый цветок

In [ ]:
new_flower=[]
new_flower = pd.Series([0.0, 0.0, 0.0, 0.0, ''], index=['sepal.length', 'sepal.width', 'petal.length', 'petal.width', 'variety'])
new_flower['sepal.length'] = float(input())
new_flower['sepal.width'] = float(input())
new_flower['petal.length'] = float(input())
new_flower['petal.width'] = float(input())
new_flower

5.2
3.6
1.4
0.3

sepal.length    5.2
sepal.width     3.6
petal.length    1.4
petal.width     0.3
variety
dtype: object

## вычисляем растояния до нового цветка

In [ ]:
for i in range(len(df)):
    df.loc[i,'distance']=dist(new_flower,df.loc[i])
df = df.sort_values(by='distance')
df

     sepal.length  sepal.width  petal.length  petal.width    variety  distance
17            5.1          3.5           1.4          0.3     Setosa  0.141421
27            5.2          3.5           1.5          0.2     Setosa  0.173205
0             5.1          3.5           1.4          0.2     Setosa  0.173205
48            5.3          3.7           1.5          0.2     Setosa  0.200000
21            5.1          3.7           1.5          0.4     Setosa  0.200000
..            ...          ...           ...          ...        ...       ...
131           7.9          3.8           6.4          2.0  Virginica  5.934644
105           7.6          3.0           6.6          2.1  Virginica  6.033241
122           7.7          2.8           6.7          2.0  Virginica  6.153861
117           7.7          3.8           6.7          2.2  Virginica  6.163603
118           7.7          2.6           6.9          2.3  Virginica  6.442049

[150 rows x 6 columns]

## пользователь вводит k

In [33]:
k = int(input())

7

In [35]:
df.head(k).value_counts('variety')

variety
Setosa    7
dtype: int64

## классифицируем цветок

In [36]:
new_flower['variety'] = df.head(k).value_counts('variety').index[0]
new_flower

sepal.length       5.2
sepal.width        3.6
petal.length       1.4
petal.width        0.3
variety         Setosa
dtype: object

## добавляем цветок в датасет

In [37]:
default_df.loc[len(df)] = new_flower
default_df

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica
150           5.2          3.6           1.4          0.3     Setosa

[151 rows x 5 columns]

## сохраняем датасет в файл

In [38]:
default_df.to_csv('iris.csv', index = False)

## открываем сохранённый файл

In [39]:
dd = pd.read_csv('iris.csv')
dd

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica
150           5.2          3.6           1.4          0.3     Setosa

[151 rows x 5 columns]